{% load static wagtailuserbar %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Warmer Sun LessonPlans{% endblock %}</title>

<meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
        
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "lessonplan/bootstrap-dist/css/bootstrap.min.css" %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static "lessonplan/bootstrap-dist/css/bootstrap-theme.min.css" %}">

<!-- custom css -->

<link rel="stylesheet" href="{% static "lessonplan/css/main.css" %}">

<!-- typekit fonts -->
<script src="//use.typekit.net/ysi6pcb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>

<body>

{% wagtailuserbar %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>

<!-- footer, with Facebook and Google+ -->
	<footer class="footer">
      <div class="container-fluid well">
		<div class="row">
			<div class="col-md-3">
				<a href="https://facebook.com/warmersun"><img src="{% static "lessonplan/images/FB-f-Logo__blue_50.png" %}" style="padding-right:15px">warmersun</a>
			</div>
			<div class="col-md-3">
				<a href="https://plus.google.com/+WarmerSunVancouver"><img src="{% static "lessonplan/images/g+48.png" %}" style="padding-right:15px">+WarmerSunVancouver</a>
			</div>
			<div class="col-md-3">
				<a href="https://medium.com/@warmersun"><img src="{% static "lessonplan/images/Medium.jpeg" %}" style="padding-right:15px">@WarmerSun</a>
			</div>
			<div class="col-md-3">
				<img src="{% static "lessonplan/images/canadian_flag.jpg" %}" class="img-responsive" alt="Canadian Flag">Proudly Canadian
			</div>
		</div>
      </div>
    </footer>
    
<!-- Latest compiled and minified JavaScript -->
<script src="{% static "lessonplan/bootstrap-dist/js/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "lessonplan/bootstrap-dist/js/bootstrap.min.js" %}"></script>
</body>
</html>    