{% load lessonplan_tags static wagtailuserbar %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Warmer Sun LessonPlans{% endblock %}</title>

<meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

<!-- typekit fonts -->
<script src="//use.typekit.net/ysi6pcb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

        
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "lessonplan/bootstrap-dist/css/bootstrap.min.css" %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static "lessonplan/bootstrap-dist/css/bootstrap-theme.min.css" %}">

<!-- custom css -->

<link rel="stylesheet" href="{% static "lessonplan/css/main.css" %}">

<link rel="stylesheet" href="{% static "lessonplan/jquery-ui-1.11.4.custom/jquery-ui.css" %}">
<link rel="stylesheet" href="{% static "lessonplan/css/jquery-ui-slider-pips.css" %}">


<!-- Latest compiled and minified JavaScript -->
<script src="{% static "lessonplan/js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "lessonplan/jquery-ui-1.11.4.custom/jquery-ui.js" %}"></script>
<script src="{% static "lessonplan/bootstrap-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "lessonplan/js/jquery-ui-slider-pips.js" %}"></script>
</head>

<body>

{% wagtailuserbar %}

{% block menu %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}
{% endblock %}

<br/>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>

<!-- footer, with Facebook and Google+ -->
	<footer class="footer">
      <div class="container-fluid well">
		<div class="row">
			<div class="col-md-4">
				<small><a href="https://facebook.com/warmersun"><img src="{% static "lessonplan/images/FB-f-Logo__blue_50.png" %}" style="padding-right:15px">warmersun</a></small>
			</div>
			<div class="col-md-4">
				<small><a href="https://medium.com/@warmersun"><img src="{% static "lessonplan/images/Medium.jpeg" %}" style="padding-right:15px">@WarmerSun</a></small>
			</div>
			<div class="col-md-4">
				<small><img src="{% static "lessonplan/images/canadian_flag.jpg" %}" class="img-responsive" alt="Canadian Flag" align="left" style="padding-right:15px">Proudly Canadian</small>
			</div>
		</div>
      </div>
    </footer>
    
</body>
</html>    