{% extends "lessonplan/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<h1>{{ self.title }}</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		{{ self.theme|richtext }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		{{ self.exponential_technology }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		{{ self.introduction }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		{{ self.new_tool }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		{{ self.design_challenge }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		{{ self.method }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		{{ self.link_with_real_life }}
		</div>
	</div>
	
	<!-- slider to show timing -->
	
	<div class="row">
		<div class="col-md-1">
			<div id="timing"></div>
			<script>
			$( "#timing" ).slider({
				disabled: true,
				max: {{ self.total_length }},
				values: [
					{{ self.introduction_start }},
					{{ self.empathize_start }},
					{{ self.define_start }},
					{{ self.ideate_start }},
					{{ self.prototype_start }},
					{{ self.test_start }}
				]				
			});
			</script>			
		</div>
	</div>
</div>

{%endblock %}